# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
env/

# DVC-managed data
data/raw/
data/processed/
artifacts/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Virtual env
.venv/
venv/
env/
__pycache__/

